@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import "./bottom-navui.scss";
@import "./upper-navui.scss";

.App {
  font-family: "VT323", monospace;
  color: white;
  font-size: 20px;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: grid;
  width: 100vw;
  height: 100vh;
}
