@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@import "./bottom-navui.scss";
@import "./upper-navui.scss";
@import "./variables.scss";
.App {
  font-family: "VT323", monospace;
  color: $mainAccent;
  font-size: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  background-color: $mainColor;
  display: grid;
  width: 100vw;
  height: 100vh;
}
