@import './variables.scss';

.bottom-nav {
  align-self: flex-end;
    display: grid;
    height: 100%;
    width: 100%;
    #story-text{
      margin-top: 50px;
      justify-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border: $mainAccent solid 5px;
      border-radius: 15px;
      width: 90%;
      height: 500px;
      font-size: 25px;
    }
    #stats-container{
      justify-self: center;
      display: flex;
      align-items: center;
      font-size: 30px;
      justify-content: space-evenly;
      border: $mainAccent solid 5px;
      border-radius: 15px;
      width: 90%;
      height: 100px;
      margin: 5px;
    }
    .btn-container {
  
      justify-self: center;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: $mainAccent solid 5px;
      border-radius: 15px;
      width: 90%;
      height: 100px;
      margin: 5px;
      button {
        background-color: $mainColor;
        color: $mainAccent;
        border: $mainAccent solid 2px;
        border-radius: 5px;
        font-family: "VT323", monospace;
        font-size: 38px;
        height: 40px;
        width: 125px
      }
    }
  }